@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  color: #1d1d1f;
  background-color: #e8e5de;
}

a,
.btn {
  transition: all 300ms ease;
}

#desktop-nav {
  /* background-color: rgba(113, 31, 92, 0.5); */
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: calc(25rem / 16);
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.logo:hover {
  cursor: default;
}

.nav-links {
  gap: 3rem;
  list-style: none;
  font-size: calc(25rem / 16);
  
  @media (max-width: 767px) {
    display: none;
  }
}

a {
  color: #1d1d1f;
  text-decoration: none;
}

a:hover {
  color: #0389ff;
}

#container {
  padding-top: calc(60rem / 16);
}

.heading {
  font-family: "Playfair Display", serif;
  font-size: calc(60rem / 16);
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  calc(25rem / 16);
}

.sub-heading {
  font-family: "Playfair Display", serif;
  font-size: calc(30rem / 16);
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding-bottom: calc(25rem / 16);
}

.content {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(25rem / 16);
  calc(25rem / 16);
}

.flex {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: rgba(31, 113, 60, 0.5); */
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  @media (min-width: 767px) {
    display: none;
  }
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#1d1d1f;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}